/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# rspec failure tracking
.rspec_status

# Don't check in lock file for this app (gem)
Gemfile.lock
